<div class="row">
	<h2>Editar Local de Infracao</h2>
</div>
<div class="row">
<form class="form-horizontal" ng-submit="atualizar(localInfracaoEditar)">
	<div class="form-group">
		<input type="text"   ng-model="localInfracaoCriar.descricaoLocalInfracao" class="form-control" placeholder="Descricao">
		<input type="hidden" ng-model="localInfracaoCriar.idLocalInfracao">
		<input type="text"   ng-model="localInfracaoCriar.velocidadePermitida" class="form-control" placeholder="Velocidade permitida">
	</div>
	<div class="form-group">
		<button class="btn btn-success">Atualizar</button>
		<a href="#/localInfracao" class="btn btn-warning">Cancelar</a>
	</div>	
	
</form>
</div>