<div class="row">
	<h2>Criar Infracao</h2>
</div>
<div class="row">
<form class="form-horizontal" ng-submit="criar(infracaoCriar)">
	<div class="form-group">
		<input type="hidden" ng-model="infracaoCriar.idInfracao">
		<input type="text"   ng-model="infracaoCriar.velocidade" class="form-control" placeholder="Velocidade">
		<input type="text"   ng-model="infracaoCriar.placa" class="form-control" placeholder="Placa">
		<!-- <input type="text"   ng-model="infracaoCriar.localInfracao.idLocalInfracao" class="form-control" placeholder="Local infracao">
		<input type="text"   ng-model="infracaoCriar.tipoInfracao.idTipoInfracao" class="form-control" placeholder="Tipo infracao"> -->
		<div ng-controller="AgenteCtrl">
			<select class="form-control" ng-model="infracaoCriar.agente.idAgente">
				<option value="" selected="false" class="form-control">Agente</option>
	 			<option ng-repeat="item in agente"  class="form-control">{{item.idAgente}}</option>
			</select>
		</div>
		
		
		<div ng-controller="TipoInfracaoCtrl">
			<select class="form-control" ng-model="infracaoCriar.tipoInfracao.idTipoInfracao">
				<option value="" selected="false" class="form-control">Tipo de infracao</option>
	 			<option ng-repeat="item in tipoInfracao"  class="form-control">{{item.idTipoInfracao}}</option>
			</select>
		</div>

		<div ng-controller="LocalInfracaoCtrl">
			<select class="form-control" ng-model="infracaoCriar.localInfracao.idLocalInfracao">
				<option value="" selected="false" class="form-control">Local de infracao</option>
	 			<option ng-repeat="item in localInfracao"  class="form-control">{{item.idLocalInfracao}}</option>
			</select>
		</div>
		
	</div>
	<div class="form-group">
		<button class="btn btn-success">Criar</button>
		<a href="#/infracao" class="btn btn-warning">Cancelar</a>
	</div>	
	
</form>
</div>